<a href="https://colab.research.google.com/github/arunsk03/arunsk03/blob/main/Data_Abstraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (3.11.4)
Collecting dnspython<2.0.0,>=1.16.0; extra == "srv"
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
     |████████████████████████████████| 194kB 6.4MB/s
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0

In [ ]:
import pymongo
pymongo.version

'3.11.4'

In [ ]:
from pymongo import MongoClient
import urllib
import pandas as pd
import json
import numpy as np
from bson import ObjectId

In [ ]:

string_mongo="mongodb+srv://arunsk03:"+urllib.parse.quote('A6un5k!2')+"@cluster0.zzxvt.mongodb.net/Practice?retryWrites=true&w=majority"
client = MongoClient(string_mongo)

In [ ]:
db = client['Telecom']

In [ ]:
url= 'https://raw.githubusercontent.com/arunsk03/arunsk03/main/churn-210211-094251.csv'
df=pd.read_csv(url)

In [ ]:
df.head()

   customerID  tenure PhoneService  ... MonthlyCharges TotalCharges Churn
0  7590-VHVEG       1           No  ...          29.85        29.85    No
1  5575-GNVDE      34          Yes  ...          56.95      1889.50    No
2  3668-QPYBK       2          Yes  ...          53.85       108.15   Yes
3  7795-CFOCW      45           No  ...          42.30      1840.75    No
4  9237-HQITU       2          Yes  ...          70.70       151.65   Yes

[5 rows x 9 columns]

In [ ]:
df.to_json('churn.json')

In [ ]:
json_df = open('churn.json').read()
data = json.loads(json_df)

In [ ]:
string_mongo = 
client = MongoClient(string_mongo)

SyntaxError: ignored

In [1]:
pip install csv-2-mongo

Collecting csv-2-mongo
  Downloading https://files.pythonhosted.org/packages/2a/bf/02a053619d5695bac05a3b86a930941687b3c47a2f24b8d7fd313050574a/csv_2_mongo-0.0.2-py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from csv-2-mongo) (8.0.0)
Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (from csv-2-mongo) (3.11.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from csv-2-mongo) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->csv-2-mongo) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->csv-2-mongo) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->csv-2-mongo) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->csv-2-mongo) (1.15.0)
Installing collected packages: csv-2-mongo
Successfully installed csv-2-mongo-0.0.2