<a href="https://colab.research.google.com/github/arunsk03/arunsk03/blob/main/KNN%20ML%20Intermidiate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
a ="Hello"
b = "world"
year = 2022
print(a + " " + b + " " +str(year))

Hello world 2022

In [ ]:
"198".zfill(6)

'000198'

In [ ]:
# Change case:
"apple".capitalize( ) # Converts the first character to upper case

'Apple'

In [ ]:
"APPLE".casefold( ) # Converts string into lower case

'apple'

In [ ]:
"APPLE".lower( ) # Converts a string into lower case

'apple'

In [ ]:
"apple".upper( ) #Converts a string into upper case

'APPLE'

In [ ]:
"Apple".swapcase( ) # Swaps cases, lower case becomes upper case and vice versa

'aPPLE'

In [ ]:
"apple".title( ) # Converts the first character of each word to upper case

'Apple'

String Functions

In [ ]:
"apple".startswith("a")

True

In [ ]:
"apple".endswith("e")

True

In [ ]:
" apple ".strip( )

'apple'

In [ ]:
"apple".count("p")

2

In [ ]:
"apple".index("l")

3

In [ ]:
"apple".find("l")

3

In [ ]:
"apple".find("x")

-1

In [ ]:
def greet(name="everybody", myname=None): 
    print(f"Hello, {name}!")
    if myname: 
       print(f"I am {myname}.")

In [ ]:
greet()

Hello, everybody!

In [ ]:
greet("arun")

Hello, arun!

In [ ]:
greet("Arun","SK")

Hello, Arun!
I am SK.

Modules

In [ ]:
import datetime
datetime.datetime.now()
datetime.date.today()

datetime.date(2022, 2, 9)

In [ ]:
for num in range(1,6):
  print(num,end=",")

1,2,3,4,5,

In [ ]:
fruits = ["apple","bannana","cherry"]

for f in fruits:
  if f=="apple":
    break

print(f)

apple

In [ ]:
i=1
while i <=10:
  i +=i
print(i)

16

In [ ]:
basket1 =["apple","bannana","cherry"]
basket2 =["kiwi","pineapple","orange"]

In [ ]:
(2+4+6)*3-12/3

32.0

**Import Libraries**

In [1]:
import numpy as np # linear algebra 
import pandas as pd # data processing 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**Import** **Data**

In [3]:
glass = pd.read_csv ("https://raw.githubusercontent.com/insaid2018/Term-3/master/Data/CaseStudy/glass.csv")
glass.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1